/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.nike-block {
  display: flex;
  flex-direction: column;
  background-color: white; }

.nike-block.layout {
  position: relative; }

.nike-group {
  display: flex;
  flex-direction: column; }

.nike-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.nike-block1 {
  display: flex;
  flex-direction: column;
  background-color: white; }

.nike-block1.layout {
  position: relative;
  flex-grow: 1;
  min-height: 116px;
  flex-shrink: 0; }

.nike-image {
  background: var(--src) center center/contain no-repeat; }

.nike-image.layout {
  position: absolute;
  top: 0px;
  height: 56px;
  left: 0px;
  right: 0px;
  width: 36.39%;
  margin: 33px auto 27px; }
  @media (max-width: 1199px) {
    .nike-image.layout {
      margin: 29px auto 24px; } }
  @media (max-width: 991px) {
    .nike-image.layout {
      margin: 24px auto 20px; } }
  @media (max-width: 767px) {
    .nike-image.layout {
      margin: 20px auto 17px; } }
  @media (max-width: 575px) {
    .nike-image.layout {
      width: 43.28%;
      margin: 18px auto 15px; } }
  @media (max-width: 479px) {
    .nike-image.layout {
      width: 50.43%;
      margin: 16px auto 14px; } }
  @media (max-width: 383px) {
    .nike-image.layout {
      width: 57.57%;
      margin: 15px auto 13px; } }

.nike-cover-block {
  display: flex;
  flex-direction: column;
  background: var(--src) center center/contain no-repeat; }

.nike-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 3px 450px 0px; }
  @media (max-width: 1199px) {
    .nike-cover-block.layout {
      margin: 0px 5px 347px 0px; } }
  @media (max-width: 991px) {
    .nike-cover-block.layout {
      margin: 0px 5px 235px 0px; } }
  @media (max-width: 767px) {
    .nike-cover-block.layout {
      margin: 0px 5px 139px 0px; } }
  @media (max-width: 575px) {
    .nike-cover-block.layout {
      margin: 0px 5px 91px 0px; } }
  @media (max-width: 479px) {
    .nike-cover-block.layout {
      margin: 0px 5px 43px 0px; } }
  @media (max-width: 383px) {
    .nike-cover-block.layout {
      margin: 0px 5px 10px 0px; } }

.nike-flex {
  display: flex; }

.nike-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 16px 18px; }
  @media (max-width: 1199px) {
    .nike-flex.layout {
      margin: 14px 16px; } }
  @media (max-width: 991px) {
    .nike-flex.layout {
      margin: 12px 13px; } }
  @media (max-width: 767px) {
    .nike-flex.layout {
      margin: 10px 11px; } }
  @media (max-width: 575px) {
    .nike-flex.layout {
      margin: 9px 10px; } }
  @media (max-width: 479px) {
    .nike-flex.layout {
      margin: 8px 9px; } }

.nike-flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 583px; }

.nike-flex1 {
  display: flex;
  flex-direction: column; }

.nike-flex1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 0px 0px; }
  @media (max-width: 1199px) {
    .nike-flex1.layout {
      margin: 28px 0px 0px; } }
  @media (max-width: 991px) {
    .nike-flex1.layout {
      margin: 24px 0px 0px; } }
  @media (max-width: 767px) {
    .nike-flex1.layout {
      margin: 20px 0px 0px; } }
  @media (max-width: 575px) {
    .nike-flex1.layout {
      margin: 18px 0px 0px; } }
  @media (max-width: 479px) {
    .nike-flex1.layout {
      margin: 16px 0px 0px; } }
  @media (max-width: 383px) {
    .nike-flex1.layout {
      margin: 15px 0px 0px; } }

@media (max-width: 1199px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 575px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 479px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 383px) {
  .nike-hero-title-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.nike-hero-title-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 0px 20px; }
  @media (max-width: 1199px) {
    .nike-hero-title-box.layout {
      margin: 0px 0px 0px 18px; } }
  @media (max-width: 991px) {
    .nike-hero-title-box.layout {
      margin: 0px 0px 0px 15px; } }
  @media (max-width: 767px) {
    .nike-hero-title-box.layout {
      margin: 0px 0px 0px 13px; } }
  @media (max-width: 575px) {
    .nike-hero-title-box.layout {
      margin: 0px 0px 0px 11px; } }
  @media (max-width: 479px) {
    .nike-hero-title-box.layout {
      margin: 0px 0px 0px 10px; } }

.nike-hero-title {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 55px/1.2 "Sarala", Helvetica, Arial, serif;
  color: #fff000;
  letter-spacing: 2.75px;
  white-space: pre-wrap; }
  @media (max-width: 1199px) {
    .nike-hero-title {
      font-size: 49px;
      text-align: left; } }
  @media (max-width: 991px) {
    .nike-hero-title {
      font-size: 42px; } }
  @media (max-width: 767px) {
    .nike-hero-title {
      font-size: 36px; } }
  @media (max-width: 575px) {
    .nike-hero-title {
      font-size: 33px; } }
  @media (max-width: 479px) {
    .nike-hero-title {
      font-size: 30px; } }
  @media (max-width: 383px) {
    .nike-hero-title {
      font-size: 28px; } }

.nike-big-title {
  font: 700 28px/1.2 "Sarala", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 1.4px; }
  @media (max-width: 1199px) {
    .nike-big-title {
      font-size: 25px;
      text-align: left; } }
  @media (max-width: 991px) {
    .nike-big-title {
      font-size: 23px; } }
  @media (max-width: 767px) {
    .nike-big-title {
      font-size: 20px; } }
  @media (max-width: 575px) {
    .nike-big-title {
      font-size: 19px; } }
  @media (max-width: 479px) {
    .nike-big-title {
      font-size: 18px; } }
  @media (max-width: 383px) {
    .nike-big-title {
      font-size: 17px; } }

.nike-big-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 18px 20px 0px; }
  @media (max-width: 1199px) {
    .nike-big-title.layout {
      margin: 16px 18px 0px; } }
  @media (max-width: 991px) {
    .nike-big-title.layout {
      margin: 13px 15px 0px; } }
  @media (max-width: 767px) {
    .nike-big-title.layout {
      margin: 11px 13px 0px; } }
  @media (max-width: 575px) {
    .nike-big-title.layout {
      margin: 10px 11px 0px; } }
  @media (max-width: 479px) {
    .nike-big-title.layout {
      margin: 9px 10px 0px; } }

@media (max-width: 1199px) {
  .nike-highlights-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 991px) {
  .nike-highlights-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 767px) {
  .nike-highlights-box {
    align-items: flex-start;
    justify-content: flex-start; } }

@media (max-width: 479px) {
  .nike-highlights-box {
    align-items: flex-start;
    justify-content: flex-start; } }

.nike-highlights-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 29px 9px 0px 20px; }
  @media (max-width: 1199px) {
    .nike-highlights-box.layout {
      margin: 25px 8px 0px 18px; } }
  @media (max-width: 991px) {
    .nike-highlights-box.layout {
      margin: 22px 7px 0px 15px; } }
  @media (max-width: 767px) {
    .nike-highlights-box.layout {
      margin: 18px 6px 0px 13px; } }
  @media (max-width: 575px) {
    .nike-highlights-box.layout {
      margin: 17px 5px 0px 11px; } }
  @media (max-width: 479px) {
    .nike-highlights-box.layout {
      margin: 15px 5px 0px 10px; } }
  @media (max-width: 383px) {
    .nike-highlights-box.layout {
      margin: 14px 5px 0px 10px; } }

.nike-highlights {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 700 19px/1.2 "Sarala", Helvetica, Arial, serif;
  color: white;
  letter-spacing: 0.95px;
  white-space: pre-wrap; }
  @media (max-width: 1199px) {
    .nike-highlights {
      font-size: 18px;
      text-align: left; } }
  @media (max-width: 991px) {
    .nike-highlights {
      font-size: 17px; } }
  @media (max-width: 767px) {
    .nike-highlights {
      font-size: 16px; } }
  @media (max-width: 479px) {
    .nike-highlights {
      font-size: 15px; } }

.nike-flex2 {
  display: flex; }

.nike-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 56px 0px 0px; }
  @media (max-width: 1199px) {
    .nike-flex2.layout {
      margin: 48px 0px 0px; } }
  @media (max-width: 991px) {
    .nike-flex2.layout {
      margin: 39px 0px 0px; } }
  @media (max-width: 767px) {
    .nike-flex2.layout {
      margin: 32px 0px 0px; } }
  @media (max-width: 575px) {
    .nike-flex2.layout {
      margin: 28px 0px 0px; } }
  @media (max-width: 479px) {
    .nike-flex2.layout {
      margin: 24px 0px 0px; } }
  @media (max-width: 383px) {
    .nike-flex2.layout {
      margin: 21px 0px 0px; } }

.nike-flex2-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 31px; }

.nike-image1 {
  background: var(--src) center center/contain no-repeat; }

.nike-image1.layout {
  position: relative;
  height: 21px;
  width: 31px;
  min-width: 31px;
  margin: 7px 0px 3px; }
  @media (max-width: 1199px) {
    .nike-image1.layout {
      margin: 6px 0px 5px; } }
  @media (max-width: 991px) {
    .nike-image1.layout {
      margin: 5px 0px; } }

.nike-flex2-spacer {
  flex: 0 1 11px; }

.nike-subtitle {
  font: 700 20px/1.2 "PT Serif", Helvetica, Arial, serif;
  color: #fff000;
  letter-spacing: 3.8px; }
  @media (max-width: 1199px) {
    .nike-subtitle {
      font-size: 19px;
      text-align: left; } }
  @media (max-width: 991px) {
    .nike-subtitle {
      font-size: 18px; } }
  @media (max-width: 767px) {
    .nike-subtitle {
      font-size: 17px; } }
  @media (max-width: 479px) {
    .nike-subtitle {
      font-size: 16px; } }

.nike-subtitle.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 2px 0px 5px; }
  @media (max-width: 1199px) {
    .nike-subtitle.layout {
      margin: 5px 0px; } }

.nike-flex2-spacer1 {
  flex: 0 1 39px; }

.nike-icon1 {
  background: var(--src) center center/contain no-repeat; }

.nike-icon1.layout {
  position: relative;
  height: 31px;
  width: 31px;
  min-width: 31px; }

.nike-flex2-spacer2 {
  flex: 0 1 15px; }

.nike-subtitle.layout1 {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 0px 3px; }
  @media (max-width: 1199px) {
    .nike-subtitle.layout1 {
      margin: 5px 0px; } }

.nike-flex-spacer {
  flex: 0 1 2px; }

.nike-flex-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 25px; }

.nike-icon {
  background: var(--src) center center/contain no-repeat; }

.nike-icon.layout {
  position: relative;
  height: 25px;
  width: 25px;
  min-width: 25px;
  margin: 398px 0px 3px; }
  @media (max-width: 1199px) {
    .nike-icon.layout {
      margin: 307px 0px 5px; } }
  @media (max-width: 991px) {
    .nike-icon.layout {
      margin: 209px 0px 5px; } }
  @media (max-width: 767px) {
    .nike-icon.layout {
      margin: 125px 0px 5px; } }
  @media (max-width: 575px) {
    .nike-icon.layout {
      margin: 83px 0px 5px; } }
  @media (max-width: 479px) {
    .nike-icon.layout {
      margin: 41px 0px 5px; } }
  @media (max-width: 383px) {
    .nike-icon.layout {
      margin: 12px 0px 5px; } }

.nike-flex-spacer1 {
  flex: 0 1 21px; }

.nike-flex-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 25px; }

.nike-flex-spacer2 {
  flex: 0 1 21px; }

.nike-flex-item3 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 25px; }

.nike-flex-spacer3 {
  flex: 0 1 22px; }

.nike-flex-item4 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 677px; }

.nike-icon.layout1 {
  position: relative;
  height: 25px;
  width: 25px;
  min-width: 25px;
  margin: 398px 652px 3px 0px; }
  @media (max-width: 1199px) {
    .nike-icon.layout1 {
      margin: 307px 499px 5px 0px; } }
  @media (max-width: 991px) {
    .nike-icon.layout1 {
      margin: 209px 333px 5px 0px; } }
  @media (max-width: 767px) {
    .nike-icon.layout1 {
      margin: 125px 191px 5px 0px; } }
  @media (max-width: 575px) {
    .nike-icon.layout1 {
      margin: 83px 120px 5px 0px; } }
  @media (max-width: 479px) {
    .nike-icon.layout1 {
      margin: 41px 49px 5px 0px; } }
  @media (max-width: 383px) {
    .nike-icon.layout1 {
      margin: 12px 5px 5px 0px; } }
