/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
@import "utils";

$font_type0: 50px/1.2 "Allura", Helvetica, Arial, serif;

.nike- {
  &block {
    @include flex-column;
    background-color: rgb(255, 255, 255);
  }
  &block.layout {
    position: relative;
    overflow: hidden;
    min-height: 1080px;
    flex-shrink: 0;
  }
  &flex {
    @include flex-column;
  }
  &flex.layout {
    position: relative;
    height: min-content;
    margin: 57.5px 27px;
    @include lg {
      margin: 49px 24px;
    }
    @include md {
      margin: 40px 20px;
    }
    @include sm {
      margin: 32px 17px;
    }
    @include xs {
      margin: 29px 15px;
    }
    @include xxs {
      margin: 25px 14px;
    }
    @include tn {
      margin: 22px 13px;
    }
  }
  &hero-title {
    @include v-center-content;
    font: $font_type0;
    color: rgb(3, 0, 37);
    text-decoration: underline;
    letter-spacing: 0px;
    @include lg {
      font-size: 44px;
      text-align: left;
    }
    @include md {
      font-size: 38px;
    }
    @include sm {
      font-size: 33px;
    }
    @include xs {
      font-size: 30px;
    }
    @include xxs {
      font-size: 28px;
    }
    @include tn {
      font-size: 26px;
    }
  }
  &hero-title.layout {
    position: relative;
    height: min-content;
    width: 26.58%;
    margin: 0px auto;
    @include xs {
      width: 32.55%;
    }
    @include xxs {
      width: 39.14%;
    }
    @include tn {
      width: 46.17%;
    }
  }
  &image {
    background: var(--src) center center / contain no-repeat;
  }
  &image.layout {
    position: relative;
    height: 540px;
    margin: 63.5px 0px 301.5px;
    @include lg {
      margin: 54px 0px 235px;
    }
    @include md {
      margin: 45px 0px 162px;
    }
    @include sm {
      margin: 36px 0px 100px;
    }
    @include xs {
      margin: 32px 0px 69px;
    }
    @include xxs {
      margin: 28px 0px 38px;
    }
    @include tn {
      margin: 25px 0px 17px;
    }
  }
}

