/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.nike-block {
  display: flex;
  flex-direction: column;
  background-color: white; }

.nike-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1080px;
  flex-shrink: 0; }

.nike-flex {
  display: flex;
  flex-direction: column; }

.nike-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 57.5px 27px; }
  @media (max-width: 1199px) {
    .nike-flex.layout {
      margin: 49px 24px; } }
  @media (max-width: 991px) {
    .nike-flex.layout {
      margin: 40px 20px; } }
  @media (max-width: 767px) {
    .nike-flex.layout {
      margin: 32px 17px; } }
  @media (max-width: 575px) {
    .nike-flex.layout {
      margin: 29px 15px; } }
  @media (max-width: 479px) {
    .nike-flex.layout {
      margin: 25px 14px; } }
  @media (max-width: 383px) {
    .nike-flex.layout {
      margin: 22px 13px; } }

.nike-hero-title {
  display: flex;
  align-items: center;
  font: 50px/1.2 "Allura", Helvetica, Arial, serif;
  color: #030025;
  text-decoration: underline;
  letter-spacing: 0px; }
  @media (max-width: 1199px) {
    .nike-hero-title {
      font-size: 44px;
      text-align: left; } }
  @media (max-width: 991px) {
    .nike-hero-title {
      font-size: 38px; } }
  @media (max-width: 767px) {
    .nike-hero-title {
      font-size: 33px; } }
  @media (max-width: 575px) {
    .nike-hero-title {
      font-size: 30px; } }
  @media (max-width: 479px) {
    .nike-hero-title {
      font-size: 28px; } }
  @media (max-width: 383px) {
    .nike-hero-title {
      font-size: 26px; } }

.nike-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 26.58%;
  margin: 0px auto; }
  @media (max-width: 575px) {
    .nike-hero-title.layout {
      width: 32.55%; } }
  @media (max-width: 479px) {
    .nike-hero-title.layout {
      width: 39.14%; } }
  @media (max-width: 383px) {
    .nike-hero-title.layout {
      width: 46.17%; } }

.nike-image {
  background: var(--src) center center/contain no-repeat; }

.nike-image.layout {
  position: relative;
  height: 540px;
  margin: 63.5px 0px 301.5px; }
  @media (max-width: 1199px) {
    .nike-image.layout {
      margin: 54px 0px 235px; } }
  @media (max-width: 991px) {
    .nike-image.layout {
      margin: 45px 0px 162px; } }
  @media (max-width: 767px) {
    .nike-image.layout {
      margin: 36px 0px 100px; } }
  @media (max-width: 575px) {
    .nike-image.layout {
      margin: 32px 0px 69px; } }
  @media (max-width: 479px) {
    .nike-image.layout {
      margin: 28px 0px 38px; } }
  @media (max-width: 383px) {
    .nike-image.layout {
      margin: 25px 0px 17px; } }
