<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link rel="stylesheet" type="text/css" href="/css/Nike.css" />

    <script
      type="text/javascript"
      src="https://unpkg.com/aos@2.3.1/dist/aos.js"
    ></script>
    <script
      type="text/javascript"
      src="https://unpkg.com/headroom.js@0.12.0/dist/headroom.min.js"
    ></script>
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="nike nike-block layout">
      <div class="nike-flex layout">
        <h1 class="nike-hero-title1 layout">Nikeel Kumar R KR</h1>
        <div
          style="--src:url(/assets/b2bbc8bd0c2003b584f7f204ed5f5969.png)"
          class="nike-cover-block layout"
        >
          <div class="nike-flex1 layout">
            <h1 class="nike-hero-title-box layout">
              <pre class="nike-hero-title">Nikeel Kumar R K R </pre>
            </h1>
            <h1 class="nike-big-title layout">Technical Sales Engineer</h1>
            <h2 class="nike-medium-title layout">
              AGE Graphic Equipments FZE, UAE
            </h2>
            <h4 class="nike-highlights-box layout">
              <pre class="nike-highlights">
B.tech in (Printing and Media)
 Manipal Institute Of Technology, Manipal

 

</pre
              >
            </h4>
            <div class="nike-flex2 layout">
              <div class="nike-flex2-item">
                <div
                  style="--src:url(/assets/2e5eb97cb3f10fe7fd221fbe49daa608.png)"
                  class="nike-image layout"
                ></div>
              </div>
              <div class="nike-flex2-spacer"></div>
              <h3 class="nike-subtitle layout">rnikeel@gmail.com</h3>
              <div class="nike-flex2-spacer1"></div>
              <div class="nike-flex2-item1">
                <div
                  style="--src:url(/assets/af1a6e1991a6b8b4ded6c9f55ba7afc9.png)"
                  class="nike-icon layout"
                ></div>
              </div>
              <div class="nike-flex2-spacer2"></div>
              <div class="nike-flex2-item2">
                <div
                  style="--src:url(/assets/83e1b5cdddab663b2077e242d45958f5.png)"
                  class="nike-icon layout1"
                ></div>
              </div>
              <div class="nike-flex2-spacer3"></div>
              <h3 class="nike-subtitle layout1">910 888 7123</h3>
              <div class="nike-flex2-spacer4"></div>
              <h3 class="nike-subtitle layout2">/ 0588 212 550</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
